
* {
  box-sizing: border-box;
}
span {
  position: relative;
  display: inline-block;
}
.gate {
  display: inline-block;
  width: 250px;
  height:38px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 8px;
  outline: 0;
  text-indent: 65px; /* Change Text position */
  transition: all .3s ease-in-out;
  box-shadow: 2px 3px 20px 3px rgba(51, 51, 51, 0.4);
}
.gate::-webkit-input-placeholder,
.gate::-moz-placeholder,
.gate::-ms-placeholder,
.gate::placeholder{
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.gate + label {
  height:38px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  background: #0288d1;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  transition: all .4s ease-in-out;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transform-origin: left bottom;
  z-index: 99;
}
.gate + label:before, .gate + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background: #0288d1; 		/* changed color*/
  transform-origin: left bottom;
  transition: all .4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.gate + label:before {
  background: rgba(3, 36, 41, 0.2);
  z-index: -2;
  right: 20%;
}

.gate:focus,
.gate:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.gate:focus::-webkit-input-placeholder,
.gate:focus::-moz-placeholder,
.gate:focus::-ms-placeholder,
.gate:focus::placeholder,

.gate:active::-webkit-input-placeholder,
.gate:active::-moz-placeholder,
.gate:active::-ms-placeholder,
.gate:active::placeholder {
  color: #aaa;
}
.gate:focus + label,
.gate:active + label {
  transform: rotate(-66deg);
  border-radius: 8px;
}
.gate:focus + label:before,
.gate:active + label:before {
  transform: rotate(10deg);
}