html {
    position: relative;
    min-width: 1024px;
    min-height: 668px;
    resize: none;
    width: 100%;
    height: 100%;   
}

body {
	background-image: url("../Images/india.jpg");
	background-repeat: no-repeat;
	background-position:top center;
	background-size : cover cover;
	position: fixed fixed;
	font-family: sans-serif;
	font-weight: bold;
}
form, .f1{
	position :absolute;
	background: silver;
    opacity: 1;
    border-radius: 10px;
    border-width: thick;
    box-shadow: 2px 3px 20px 3px rgba(51, 51, 51, 1);
    background-color: #546e7a;
}h2 {
		font-family: sans-serif;
}#logout{
	border-color: #455a64;
	text-transform: uppercase;
}
div.ui-datepicker {
   	font-size: 80%;
}
 table{
	width:100%;
    height:100%;
    margin: auto auto;
    border-collapse: collapse; 
}
th{
	text-align: left;
}
#t1 table , #t1 th, #t1 td{
	border: 1px solid #000;
}
th,td{
	padding: 10px;
}

#t1 tr:nth-child(even) {
	background-color: #80deea;
}
#t1 tr:nth-child(odd) {
	background-color: #a5d6a7;
}


/* ----For booking Tool picker only---- */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip span {
  visibility: hidden;
  width: 140px;
    font-family: "Tw Cen MT";
    font-size: 15px;
  background-color: #880e4f;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Tooltip arrow */
.tooltip span::after {
  content: "";
  position: absolute;
  bottom: 95%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #880e4f transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover span {
  visibility: visible;
  opacity: 1;
}
/*----END----*/
